
@use './vendor';
@use './abstracts' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	background-color: $white;
	font-family: 'Kumbh Sans', sans-serif;
	color: $dark-greyish-blue;
	text-align: center;
}

h1,
h2 {
	color: $very-dark-blue;
}

a {
	text-decoration: none;
	color: $dark-greyish-blue;
	outline: none;

	&:hover,
	&:focus {
		color: $very-dark-blue;
	}
}

.container {
	max-width: 1110px;
	margin: 0 auto;
}